.sign {
	width: 900px;
	border-radius: 20px;
	background: red;
	padding: 8px 0px;
	box-shadow: 0 0 3px #444;
}

.signbox {
	width: 882px;
	border-radius: 13px;
	margin: auto;
	background: #EEE;
	border: solid 1px white;
}
#site {

	margin: 30px auto 0;
	width: 960px;
}

#venues {
    width: 960px;
    margin: 12px auto;
}

#venues section {
    margin-bottom: 6em;
    clear:both;
}

#venues section p {
	margin-left: 2em;
	float: left;
}

#optionstoggler {
	margin-top: 0em;
	margin-left: 9.5em;
	font-size: 0.75em;
}

#options {
	font-size: 1.25em;
	margin-top: 1em;
	margin-left: 3.4em; 
}

#options {
	
}
