
#site {
	margin: 70px auto auto 250px;
}

#venues {
    width: 960px;
    margin: 12px auto;
}

#venues section {
    margin-bottom: 6em;
    clear:both;
}

#venues section p {
	margin-left: 2em;
	float: left;
}

#optionstoggler {
	margin-top: 30em;
	margin-left: 9.5em;
	font-size: 0.75em;
}
