
#venues section {
    position: relative;
    background: linear-gradient(top, #DDD 0%, #BBB 100%);
    border-bottom: 1px solid #99A;
    border-top: 1px solid #EEE;
    padding: 8px 12px;
    overflow: hidden;
}

#venues section:after {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -16px;
    content: url(img/right.png);
    display: block;
    opacity: .75;
}

#venues section h2 {
	font-size: 20px;
	margin: 10px 0px;
    text-shadow: 0px 1px 0px white;
}

#venues section p {
	margin: 10px 0px 10px 24px;
	float: left;
    color: #555;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

#venues section.closed:after {
	opacity: .375;
}

#venues section.closed h2 {
	opacity: .5;
	margin: 0px;
}

#venues section.closed p {
	display: none;
}
