
#splash {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    background: #CCC;
}

#splash h1 {
    text-align: center;
}

#splash p {
    height: 128px;
}

#msg {
    position: relative;
    border-radius: 6px;
    background: #FFF;
    padding: 12px;
}

#msg::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -18px;
    margin-left: -18px;
    border-width: 18px 18px 0px 18px;
    border-style: solid;
    border-color: transparent;
    border-top-color: white;
}

#msg .plus {
	font-weight: bold;
	font-size: 1.3em;
}

#msg .share {
	display: inline-block;
	width: 18px;
	height: 15px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAQAAABDj1eZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdJREFUKFNtkLtLw1AYxS/qJLhXVKr2ZRulUNtiqgSb3CziICI6ucTFVYcOnaQOFRwUnNTRwUWXgpP/QdHNUEQUHGxofYBTlRs83iZNjKTncOGe7/vx3QchXUWn6FL3jhfKUdCCr5zuifV5oDiHQM+c+CIhiiCSWNu08iq9oHXKLAiqrgR4UXqlOEYZt++ExEL0wW7+OW0G10muLv9gmqfe5FAWKmTMYQYiFL7PYwyLOD8lSjNh2gdnPzMII4QUBxc4OothbAF7GCBKQ0YbSWyPQsIhqvetS+y0ygGMo/KFZfviDvR4AhwgZU9dGYnA0J/6ndc15i3ouYIMcVVUcEXIoOxCeRCfwP8sXBSdjtpUv/1QW+K16kCCIUC4id9Fa0JtkluwVkSfqPL6RwfSDA0aNlx7k/bWgViB7bMS2/1vk5sdsZLN/ALSuL3tylO4RAAAAABJRU5ErkJggg==);
	background-size: 18px 15px;
	text-indent: -9999em;
	overflow: hidden;
}
