
/* FIXME: TEMP */
body {
    border-top: 1px solid #E6E6E6;
}

form {
    position: relative;
    background: linear-gradient(top, #DDD 0%, #BBB 100%);
    padding-bottom: 44px;
}

form h1 {
    background: -webkit-linear-gradient(top, #B5C0CE 0%, #889BB3 49%, #7E94B0 50%, #6D83A1 100%);
    border-bottom: 1px solid #2D3033;
    border-top: 1px solid #CCD2DA;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 14px 0px 18px;
    text-shadow: 0px -1px 8px rgba(0, 0, 0, 0.3);
}

form a {
    color: white;
    text-decoration: none;
}

form input {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: block;
    border: 1px solid #7d8c9e;
    border-radius: 16px;
    height: 24px;
    padding: 4px 16px 4px 32px;
    background: white url(img/search.png) no-repeat scroll 12px center;
    background-size: 14px 15px;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}
